.wrap{
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 50px;
    background: navajowhite;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.btn{
    background: crimson;
    padding: 5px;
}

.section{
    width: max-content;
    margin: 20px 0;
    display: none;
    border: 2px red solid;
    padding: 10px;
}

.active{
    display: block;
}

.border{
    border: 10px red solid;    
}